@keyframes pulse-dot {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.5; }
      }
      .pulse-dot {
        animation: pulse-dot 2s infinite;
      }
      body {
        background-color: #fff;
        background-size: 40px 40px;
        background-image:
          linear-gradient(to right, rgba(128, 128, 128, 0.099) 1px, transparent 1px),
          linear-gradient(to bottom, rgba(128, 128, 128, 0.099) 1px, transparent 1px);
      }

.swiper-wrapper {
width: 100%;
height: max-content !important;
padding-bottom: 64px !important;
-webkit-transition-timing-function: linear !important;
transition-timing-function: linear !important;
position: relative;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
background: #4F46E5 !important;
}